@import "tailwindcss";

@theme {
  --color-brand-navy: #16234B;
  --color-brand-navyLight: #1B2A5B;
  --color-brand-green: #8CBB3F;
  --color-brand-greenDark: #79A431;
  --color-brand-wood: #C68E5A;
  --color-brand-beige: #cad185;
}

body{
    background-color: rgb(241, 241, 241);
}